
.nav-link{
  color: black;
  transition: all .2s;
}

.navbar-brand{
  transition: all .5s;
}


.navbar-brand:hover{
  font-size: 1.8vw;
  
}

.katCim{
  font-size: 3vw;
  margin-bottom: 2vw;
}

a{
  text-decoration: none;
  color: black;
}

.kategoriaItem{
  transition: all .2s;
  font-size: 2vw;
}

.kategoriaItem:hover{
  font-size: 3vw;
  font-weight: 700;
}

.content{
    display: flex;
    justify-content: space-evenly;
}

.container{
    max-width: 95%;
    margin-top: 1vw;
    height: 100%;
    max-height: 100%;
    margin-bottom: 1vw;
}

.container a{
    text-decoration: none;
}
/* -----------fonts----------- */

.inter-regular {
  color: black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-medium {
  color: black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-bold {
  color: black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}