.ModellKepek {
  margin: 0;
  padding: 0;
}

.ModellRow {
  gap: 0;
}

.ModellAdatok {
  margin-top: 1vw;
  margin: 1%;
  text-align: left;
}

.ModellAdatok h5 {
  text-align: left;
  margin-left: 0;
  margin-bottom: 2vw;
}

.carousel-caption {
  color: #000;
}

img {
  width: 100%;
  height: 100%;
}

h5 {
  margin-left: 70%;
}

.carousel {
  height: 100%;
}

.szinBtn {
  padding: 1.5vw;
  margin: 1vw;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 2vw;
}

.ModellAdatok h2 {
  text-align: left;
  margin-left: 0;
}

.szinText {
  margin-bottom: 0;
}

.termekAmount {

  margin: 1px;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 2vw;
}

.kosarba {
  margin-left: 5vw;
  width: 10vw;
}

.amountSetter {
  width: 3rem;
  margin: 2px;
}

.eltunik {
  display: none;
}

.loadingSpinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw; 
  height: 10vw;
  cursor: progress;
}