.productContainer{
    width: 90%;
    margin: 1vw;
}

.productCard{
    cursor: pointer;
    border-radius: 0;
}

.productCard img{
    border-radius: 0;
}

.card-body{
    padding: 0.5vw;
}



  


