.sideMenu{
    width: 1vw;
    display: grid;
    grid-template-columns: max-content;
    padding: 0;
    text-align: right;
}


.sideMenu img{
    width: 2vw;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 7vw;   
    margin-top: auto;   
    margin-bottom: auto;
}

.sideMenu img:hover{
    background: rgb(224, 222, 222);
}


    