.sideMenu{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.sideMenu img{
    width: 3vw;
    cursor: pointer;
    border-radius: 3px;
    margin: 0.5vw;
}

.sideMenu img:hover{
    background: rgb(224, 222, 222);
}

.col{
    padding: 0.2vw;
}

